<input type="text" [(ngModel)]="serverName">
<p>{{ serverName }}</p>
<input type="button" value="Reset name" (click)="serverName = ''" [disabled]="serverName === ''">
<input type="text" [(ngModel)]="serverName"/>
<button type="button" (click)="getServerCreated()">Click to create</button>
<p *ngIf="serverStatus; else onServer">Server was created and server name is {{ serverName }}</p>
<ng-template #onServer>
  <p>
    No server was created!
  </p>
</ng-template>

<p [ngStyle]="{'backgroundColor': getColor()}" [ngClass]="{online: sStatus === 'online'}" *ngFor="let item of servers">server ID is {{ serverID }} and status is {{ sStatus }} and name is {{ serverName }}</p>
